html {
  --borders: #1d2730;
  --text: rgb(30, 30, 55);
  --white: rgb(0, 0, 0);
  --highlight: #64ffda;
  --navy: #0a192f;
  --dark-navy: #020c1b;
  --light-navy: #112240;
  --primary: #64ffda;
  --primary-hover: rgb(238, 121, 164);
  --black: #111;
  --white: #fff;
  --active: #64ffda;
  --separator: rgb(100, 100, 100);
  --inverse: #efefef;
  --terminal: rgb(30, 30, 55);
  --frosted: rgb(30, 30, 55);
  --frosted-2: rgb(64, 64, 99);
  --text_underline: #4d3e64;
  --back: #64ffda;
  --secondary: rgb(243, 83, 142);
  --circles_animation: rgba(251, 55, 127, 0.21);
  --primary-shadow: #64ffdb27;
  --background-linear: linear-gradient(
    190deg,
    #64ffda,
    hsla(0, 0%, 100%, 0) 90%
  );
  --background-linear-hover: linear-gradient(
    -320deg,
    #64ffda,
    hsla(0, 0%, 100%, 0) 90%
  );
  --background-primary: linear-gradient(to left, #020c1b 0%, #0a192f 100%);
  --background-secondary: linear-gradient(to right, #020c1b 0%, #0a192f 100%);
  --background-card: linear-gradient(
    200deg,
    var(--dark-navy),
    hsla(0, 0%, 100%, 0) 90%
  );
}
