@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;0,900;1,400&display=swap");

body {
  position: relative;
  font-family: "Montserrat", "Lucida Sans", Verdana, sans-serif;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--dark-navy);
  font-size: 100%;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body,
html {
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: var(--secondary);
  padding: 5px;
}
::-moz-selection {
  background: var(--secondary);
  padding: 5px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track-piece {
  background-color: #16171d;
  border-left: 1px solid #16171d;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--highlight);
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: var(--highlight);
}
