.footer {
  grid-area: "footer";
  padding: 5rem 2rem 10rem 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.footer .footer__separator {
  height: 0.01rem;
  width: 100%;
  background: var(--navy);
  margin: 1rem 0;
}

.footer .footer__author {
  text-align: center;
  margin-top: 1.3rem;
}
.footer .footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.3rem;
  list-style: none;
}
.footer .footer__social li + li {
  padding-left: 3rem;
}
.footer .footer__social li svg {
  transition: stroke 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}
.footer .footer__social li:first-child svg:hover {
  stroke: rgb(29 161 242);
}
.footer .footer__social li:last-child svg:hover {
  stroke: #ff4500;
}
.footer .footer__social li:nth-child(2) svg:hover {
  stroke: var(--highlight);
}
