.header {
  background: var(--background-primary);
  grid-area: "header";
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header .header__nav {
  display: none;
  height: 100%;
}

.header .header__logo {
  max-width: 8rem;
  margin: auto 0;
}

.header__nav--active {
  cursor: pointer;
}

.header__menu_container {
  display: flex;
  justify-content: center;
}

.header__menu {
  height: 40vh;
  background: var(--white);
  width: 15rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
  overflow-x: hidden;
}

.header__menu.active {
  display: flex;
}
.header__menu.inactive {
  display: none;
}

.header__menu .header__menu__nav {
  display: flex;
  flex-flow: column;
  padding: 2rem;
}
.header__menu .header__menu__nav a {
  text-decoration: none;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  color: var(--light-navy);
  transition: background 0.4s ease;
}
.header__menu .header__menu__nav a:hover {
  color: var(--primary-hover);
}
.header__menu .header__menu__nav a + a {
  padding-top: 1rem;
}
.header__menu svg {
  position: absolute;
  right: 20px;
  top: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  stroke: black;
}

@media (min-width: 700px) {
  .header__menu {
    display: none;
  }
  .header__menu_container {
    display: none;
  }
  .header .header__nav {
    display: flex;
    align-items: center;
  }
  .header .header__nav a + a {
    padding-left: 1rem;
    text-decoration: none;
  }
  .header .header__nav a {
    text-decoration: none;
    transition: color 0.4s ease;
  }
  .header .header__nav a:hover {
    text-decoration: none;
    color: var(--primary);
  }
  .header__nav--active {
    display: none;
  }
}
