.main {
  grid-area: "main";
  display: grid;
  grid-template-rows: 1fr, repeat(3, minmax(100px, 1fr));
  grid-template-areas: "picture" "categories" "partners" "features";
}

/* ········ picture ········ */
.main__picture {
  grid-area: "picture";
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main__picture .main__image {
  max-width: 100%;
}
.main__picture .main__image img {
  max-width: 100%;
  object-fit: cover;
  max-height: 60vh;
}

.main__picture .main__target {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--background-secondary);
  height: 4rem;
  color: #fff;
  bottom: 0;
}

.main__picture .main__target svg {
  transition: transform 0.4s ease;
  will-change: transform;
}
.main__picture .main__target svg:first-child:hover {
  transform: translateX(-5px);
}
.main__picture .main__target svg:last-child:hover {
  transform: translateX(5px);
}

/* ········ categories ········ */
.main__categories {
  display: grid;
  padding: 5rem 0;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  color: var(--white);
  background: var(--background-primary);
}
.main__categorie {
  padding: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.main__categorie .main__categorie-bg {
  background: var(--white);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  place-items: center;
  place-content: center;
}
.main__categorie .main__description {
  max-width: 90%;
  margin-top: 0.8rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: clamp(0.9rem, 2vw, 1rem);
}
.main__categorie .main__button_categorie {
  margin-top: 1.3rem;
  padding: 0.8rem 2.5rem;
  cursor: pointer;
  background: var(--background-linear);
  outline: none;
  transition: background 0.3s ease;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: clamp(0.9rem, 2vw, 1rem);
  color: var(--white);
}
.main__categorie .main__button_categorie:hover {
  background: var(--background-linear-hover);
}
.main__categorie .main__button_categorie:focus {
  box-shadow: 0 2px 15px 3px var(--primary-shadow);
}
.main__title_categorie {
  margin-top: 0.8rem;
}

/* ········ categories ········ */
.main__partners {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background: var(--background-secondary);
}
.main__partners .main__partners_description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 5rem 0 0 0;
  padding: 1rem;
  color: var(--white);
}
.main__partners .main__partners_description h1 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-family: "Montserrat", sans-serif;
}
.main__partners .main__partners_description .main__partners_text {
  text-align: center;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 3vw, 1.1rem);
}
@media (min-width: 650px) {
  .main__partners .main__partners_description .main__partners_text {
    max-width: 60%;
  }
}
.main__partners .main__partners_cards {
  display: grid;
  padding: 5rem 1rem;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@media (min-width: 720px) {
  .main__partners .main__partners_cards {
    padding: 5rem 2rem 5rem 2rem;
    gap: 0 5rem;
  }
}
.main__partners .main__partners_cards .main__partners_card {
  background: var(--background-card);
  width: 100%;
  height: 28rem;
  border-radius: 0.2rem;
  border-top-left-radius: 5rem;
}
.main__partners .main__partners_cards .main__partners_card img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.2rem;
  height: 13rem;
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  background: var(--white);
}
.main__partners
  .main__partners_cards
  .main__partners_card
  .main__partners_partner_description {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.7rem, 1vw, 0.8rem);
  text-align: left;
  padding: 1rem;
  text-align: center;
  color: var(--white);
}
.main__partners
  .main__partners_cards
  .main__partners_card
  .main__partners_partner_description
  p {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.9rem, 1vw, 0.8rem);
  line-height: 1.4;
  margin-top: 1rem;
}

/* ········ features ········ */
.main__features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  color: var(--white);
  background: var(--background-primary);
  padding: 6rem 0;
  font-family: "Montserrat", sans-serif;
}

.main__features_app {
  padding: 2rem 2rem;
}
.main__features_system {
  padding: 2rem 2rem;
}
@media (min-width: 820px) {
  .main__features {
    place-items: start center;
    place-content: center center;
  }
  .main__features_app {
    padding: 2rem 0;
  }
  .main__features_system {
    padding: 2rem 0;
  }
}
.main__features .main__features_title {
  font-size: clamp(1.2rem, 3vw, 1.4rem);
  font-weight: 400;
}
.main__features .main__features_button {
  outline: none;
  border: none;
  padding: 0.9rem 3rem;
  font-weight: 500;
  color: var(--white);
  font-size: clamp(1rem, 2vw, 1.1rem);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  border-radius: 4px;
  background: var(--light-navy);
  transition: background 0.4s ease;
  margin-top: 1rem;
}
.main__features .main__features_button:nth-child(4) {
  background: var(--light-navy);
  margin-top: 2rem;
}
.main__features .main__features_button:nth-child(3):hover {
  background: var(--navy);
}
.main__features .main__features_button:hover {
  background: var(--navy);
}
.main__features .main__features_list─item::marker {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary);
  line-height: 1.6;
}

.main__features .main__features_description {
  padding-left: 1rem;
}
@media (min-width: 720px) {
  .main__features .main__features_description {
    max-width: 80%;
  }
}
